ACCOUNT_USERNAME=
ALLOW_INVITES=allow
CLIENT_ID=
CLIENT_SECRET=
LOG_LEVEL=info
MONGODB_URI=
NODE_ENV=develop
PASSWORD=
DAYS_EXPIRY=100
EXTERNAL_DATABASES=


HOLDING_SUBREDDIT=
HOLDING_TARGET_SUBREDDIT=
HOLDING_DESTINATION_SUBREDDIT=
HOLDING_CLIENT_ID=
HOLDING_CLIENT_SECRET=
HOLDING_ACCOUNT_USERNAME=
HOLDING_PASSWORD=

